body {
	    font-family: Montserrat,sans-serif;
	    font-size: 1.25rem;
	    }
@media only screen and (max-width: 500px) {
h1{font-size: 1.625rem;}
}
h1{
	    font-family: Montserrat,sans-serif;
	    color: white;
	    font-weight: 700;
	    }

.white{
	   color: white;
}

.close {
	   color: black;
   }

.rules {
	   color: white;
   }
